
/* -----------header--------- */
.block-header{
  background: #2F3061;
  color: #F7FFF7;
  margin: 0 auto;
  padding: 60px 0;
}

/* -----------project--------- */

.block-projects{
  padding:50px;
  margin-left: 30px;
}

.block-projects>p{
  font-size:37px;
}

.block-projects a {
  color: #2F3061;
}

.block-projects .btn {
  background: #3505a5;
  color: #F7FFF7;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.block-projects .btn:hover {
  background: rgba(41, 41, 80, 0.8);
}

.project-item h3 {
  margin-top: 0;
}

.project-item img {
  float: left;
  margin-right: 20px;
  height:300px
}

.divider > section {
  overflow: hidden;
  border-bottom: 1px Solid #343434;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border: none;
}

.content-wrap {
  word-wrap: break-word;
  max-width: 1000px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}

/* -----------education--------- */

.block-education{
  background: url("./images/7.jpg");
  background-size:cover;
  background-position:center center;
  color: #020202;
  margin: 0 auto;
  padding: 60px 0;
}

.block-education>h2{
  margin-left: 12%;
  margin-bottom: 40px;
}

.block-education-schools{
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  column-gap: 10%;
  margin-bottom: 20px;
  margin-left: 12%;
  line-height: 15pt;
}

.details>p{
  font-size: 25px;
}
.details>h3{
  font-size: 30px;
}

/* -----------footer--------- */

.block-footer{
  background: #B35661;
  color: #F7FFF7;
  margin: 0 auto;
  padding: 60px 0;
}

.block-footer> ul{
  list-style-type: none;
  padding: 0;
}

.block-footer>ul>li{
  padding: 5px;
  display: inline-block;
  font-family: 'Caveat', cursive;
  font-style: italic;
}

/* -----------all--------- */

li>a{
  color:white;
}

header, footer {
  text-align: center;
}

body {
  color: #343434;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}


h1, h2 {
  font-family: 'roboto';
  font-weight: 400;
  margin: 0;
}
h1 {
  font-size: 100px;
  line-height: 1;
}
h2 {
  font-size: 45px;
}
